*~
/quote.txt
/quote.idx
/QUOTE.IDX
/dos.img
/QUOTE.IDX.1
/QUOTE.IDX.2
*.SYM
*.ERR
*.OLD
*.o
*.ndisasm
/a86.com
/a864.com
/ascii
/q.com
/quote3.exe
/quote34.exe
/quote4n.com
/quote42n.com
/quote5.com
/quote5.com
/quote52.com
/quote6.com
/quote63.com
